[data-bs-theme="light"] {
  --bs-body-bg: #EFEFEF !important;
}
:root {
  /* --bs-body-bg: #F4F8FA !important; */
  --bg-transparent: #0006;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: all 0.5s;
}
body {
  /* color: var(--fg-main) !important; */
  /* background-color: var(--bg-main) !important; */
  max-width: 100dvw;
  max-height: 100dvh;
}

img {
  display: block !important;
  max-width: 100% !important;
  max-height: 100% !important;
} 

.image-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: 50% 12% !important;
}
.image-full {
  max-height: 100%;
}
.image-full img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.w-card {
  width: 100%;
}
.h-card {
  height: 430px;
}
@media screen and (width > 576px) {
  .w-card {
    width: 48% !important;
  }
}
@media screen and (width > 768px) {
  .w-card {
    width: 32% !important;
  }
}
@media screen and (width > 992px) {
  .w-card {
    width: 24% !important;
  }
  .h-card {
    height: 360px !important;
  }
}

.bg-opaque {
  background-color: var(--bg-transparent) !important;
}
.border-ultra {
  --bs-border-color: #0006 !important;
}

.btn:active, a:active {
  scale: 0.9;
}

#logo-icon {
  font-size: 2.75rem;
  margin: 0 0.35rem;
}

.shy {
  opacity: 0.65 !important;
}
.shy:hover {
  opacity: 1 !important;
}
.scale-1 {
  scale: 0.8;
}
h1, h2, h3, h4, h5, h6, p, span {
  transition: all none;
}