:root {
  --fg-main: #F4F8FA;
  --bg-main: #031A33;
  --bg-secondary: #4b5a63;
  --bg-transparent: #0006;
  --accent: #1ad;
  --bg-dark: #000;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg-main);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color-scheme: light dark !important;
  color: var(--fg-main) !important;
  background-color: var(--bg-main) !important;
}

img {
  display: block !important;
  max-width: 100% !important;
  max-height: auto !important;
} 

.image-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: 50% 12% !important;
}

.image-full img {
  width: auto !important;
  height: 100% !important;
  object-fit: contain !important;
  /* object-position: 50% 12% !important; */
}

.w-card {
  width: 24% !important;
}
.h-card {
  height: 360px !important;
}
.bg-opaque {
  background-color: var(--bg-transparent) !important;
}

.border-ultra {
  --bs-border-color: #0006 !important;
}
header {
  border-bottom: 1px solid #DDD;
}