header {
    padding: 0 0.35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDD;
}

header a.logo {
    color: unset;
    text-decoration: none;
}
header #logo-icon {
    scale: 1.5;
    margin: 0 0.5rem;
}

header .actions {
    display: flex;
}
header .actions button {
    background-color: #0000;
}

nav {
    display: flex;
}
nav a, .actions button {
    color: #FFF;
    padding: 0.25rem 0.5rem;
    margin: 0.125rem;
    display: flex;
}
nav a:hover, .actions button:hover {
    background-color: #0003;
}
nav a:active, .actions button:active {
    scale: 0.9;
}
nav a.active {
    border-bottom: 1px solid #FFF;
}